---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getPrimaryLink } from "../../utility";

interface Props {
  entry: CollectionEntry<"hobbies">;
  self?: boolean;
}

const { entry, self } = Astro.props;

const link = self ? `/hobbies/${entry.slug}` : getPrimaryLink(entry).href;
const target = self ? "_self" : "_blank";
const rel = self ? "" : "noopener";
---

<a class="preview" href={link} target={target} rel={rel}>
  {
    entry.data.image ? (
      <Image
        src={entry.data.image}
        alt={entry.data.title}
        width={500}
        height={500}
        densities={[1, 2]}
      />
    ) : (
      <div class="desc">
        <h2>{entry.data.title}</h2>
        {entry.data.desc}
      </div>
    )
  }
</a>

<style>
  .preview {
    display: inline-flex;
    position: relative;
    isolation: isolate;
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-sizing: border-box;

    color: gray;
    text-decoration: none;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    max-width: 500px;
  }

  .preview::after {
    content: "▶";

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 128px;
    user-select: none;

    cursor: pointer;
    background-color: white;

    mix-blend-mode: luminosity;

    opacity: 0;
  }

  .preview:hover::after {
    opacity: 0.5;
  }

  img,
  .desc {
    max-width: 100%;
    height: auto;
  }

  .desc {
    box-sizing: border-box;
    font-size: 16px;
    padding: 40px;
    max-height: 200px;
    text-overflow: ellipsis;

    h2 {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px; /* Adjust as needed */
      background: linear-gradient(
        to bottom,
        transparent,
        white 90%
      ); /* Adjust colors as needed */
      pointer-events: none; /* Allows user to interact with text underneath */
    }
  }

  .desc::before {
    content: "“";
    display: block;
    font-size: 5em;
    font-weight: 700;
  }

  @media screen and (min-width: 650px) {
    img,
    .desc {
      width: 500px;
    }

    .desc h2 {
      display: block;
    }
  }
</style>
