---
import type { CollectionEntry } from "astro:content";
import HobbyTitle from "../components/HobbyTitle.astro";
import { getPrimaryLink } from "../utility";
import HobbyInfo from "./HobbyInfo.astro";
import Button from "../components/Button.astro";

interface Props {
  entry: CollectionEntry<"hobbies">;
}

const { entry } = Astro.props;

const link = getPrimaryLink(entry);
---

<article>
  <HobbyTitle entry={entry} />
  <div class="description">
    <slot />
  </div>
  <Button href={link.href} primary external={true}>{link.label}</Button>
  <HobbyInfo entry={entry} />
</article>

<style>
  article {
    font-family: "Maven Pro Variable", sans-serif;
    object-fit: contain;
    min-width: 150px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

    gap: 10px;
    max-width: 550px;
  }

  .description {
    font-family: "Maven Pro Variable", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.6em;
  }
</style>
