---
import ResumeItem from "./ResumeItem.astro";
import googleLogo from "../logos/google.svg?raw";
import unuLogo from "../logos/unu.svg?raw";
import leoLogo from "../logos/leo.svg?raw";
import sapLogo from "../logos/sap.svg?raw";
import universityLogo from "../logos/university.png";
import codebarLogo from "../logos/codebar.png";
import upLogo from "../logos/up.png";
import Button from "./Button.astro";

interface Props {
  full?: boolean;
}

const { full } = Astro.props;
---

{/* TODO Add descriptions? */}

<section id="resume">
  <h1>Hunor Márton Borbély</h1>
  <section>
    <h2>Experience</h2>
    <div class="grid">
      <ResumeItem
        header="Google"
        subheader="UX Engineer (temporary staff)"
        pic={googleLogo}
        link="https://google.com"
        sub1="Berlin & Paris"
        sub2="2021 - 2022"
      />
      <ResumeItem
        header="unu"
        subheader="Full stack developer"
        pic={unuLogo}
        link="https://unumotors.com"
        sub1="Berlin, Germany"
        sub2="2019 - 2020"
      />
      <ResumeItem
        header="LEO Innovation Lab"
        subheader="Full stack developer"
        pic={leoLogo}
        link="https://www.linkedin.com/company/leo-innovation-lab/about/"
        sub1="Copenhagen, Denmark"
        sub2="2017 - 2018"
      />
      {
        full && (
          <ResumeItem
            header="SAP"
            subheader="Full stack developer, UX Designer"
            pic={sapLogo}
            link="https://www.sap.com/hungary/"
            sub1="Budapest, Hungary"
            sub2="2012 - 2017"
          />
        )
      }
    </div>
  </section>
  {
    full && (
      <>
        <section>
          <h2>Education</h2>
          <div class="grid">
            <ResumeItem
              header="Budapest University of Technology and Economics"
              subheader="Bachelor's Degree"
              pic={universityLogo}
              link="https://www.bme.hu/"
              sub1="Computer Science"
              sub2="2007 - 2012"
            />
          </div>
        </section>
        <section>
          <h2>Volunteer</h2>
          <div class="grid">
            <ResumeItem
              header="codebar"
              subheader="Coach"
              pic={codebarLogo}
              link="https://codebar.io/berlin"
              sub1="Coaching future web developers"
              sub2="2019 - 2020"
            />
            <ResumeItem
              header="Budapest UP!"
              subheader="Founder"
              pic={upLogo}
              link="https://www.facebook.com/budapest.up"
              sub1="Organizing urban playground events"
              sub2="2011 - 2016"
            />
          </div>
        </section>
      </>
    )
  }
  {!full && <Button href="/resume" label="Show more" />}
</section>

<style>
  #resume section {
    display: inline-block;
    vertical-align: top;
    margin: 40px 0 50px 0;

    h2 {
      text-transform: uppercase;
    }
  }

  .grid {
    display: flex;
    gap: 100px 80px;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
  }

  @media screen and (min-width: 650px) {
    #resume section {
      margin-right: 20px;
    }
  }
</style>
