---
import ResumeItem from "./ResumeItem.astro";
import Button from "./Button.astro";
import { experience, education, volunteering } from "../resume-data.ts";

interface Props {
  full?: boolean;
}

const { full } = Astro.props;
---

{/* TODO Add descriptions? */}

<section id="resume">
  <h1>Hunor Márton Borbély</h1>
  <section>
    <h2>Experience</h2>
    <div class="grid">
      {
        experience
          .filter((item) => full || item.highlight)
          .map((item) => (
            <ResumeItem
              header={item.header}
              subheader={item.subheader}
              pic={item.pic}
              link={item.link}
              sub1={item.sub1}
              sub2={item.sub2}
            />
          ))
      }
    </div>
  </section>
  {
    full && (
      <>
        <section>
          <h2>Education</h2>
          <div class="grid">
            {education.map((item) => (
              <ResumeItem
                header={item.header}
                subheader={item.subheader}
                pic={item.pic}
                link={item.link}
                sub1={item.sub1}
                sub2={item.sub2}
              />
            ))}
          </div>
        </section>
        <section>
          <h2>Volunteering</h2>
          <div class="grid">
            {volunteering.map((item) => (
              <ResumeItem
                header={item.header}
                subheader={item.subheader}
                pic={item.pic}
                link={item.link}
                sub1={item.sub1}
                sub2={item.sub2}
              />
            ))}
          </div>
        </section>
      </>
    )
  }
  {!full && <Button href="/resume" label="Show more" />}
</section>

<style>
  #resume section {
    display: inline-block;
    vertical-align: top;

    h2 {
      text-transform: uppercase;
    }
  }

  .grid {
    display: flex;
    gap: 100px 80px;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
  }

  @media screen and (min-width: 650px) {
    #resume section {
      margin-right: 20px;
    }
  }
</style>
