---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  entry:
    | CollectionEntry<"work">
    | CollectionEntry<"education">
    | CollectionEntry<"volunteering">;
  full?: boolean;
  self?: boolean;
}

const { entry, full, self } = Astro.props;

const { link, pic, header, subheader, location, start, end } = entry.data;

const { Content } = await entry.render();

const href = self ? `/work/${entry.slug}` : link;
const target = self ? "_self" : "_blank";
const rel = self ? "" : "noopener";
---

<article class="resume-item">
  <a href={href} target={target} rel={rel}>
    <Image src={pic} alt={header} width={300} height={300} densities={[1, 2]} />
  </a>
  <h3>{header}</h3>
  <p>{subheader}</p>
  {
    full && (
      <div class="sub">
        <Content />
      </div>
    )
  }
  <p class="sub">{location}</p>
  <p class="sub">
    {
      new Intl.DateTimeFormat("en-US", {
        year: "numeric",
      }).format(start)
    } - {
      new Intl.DateTimeFormat("en-US", {
        year: "numeric",
      }).format(end)
    }
  </p>
</article>

<style>
  .resume-item {
    display: inline-block;
    font-family: "Maven Pro Variable", sans-serif;
    width: 100%;
    object-fit: contain;
    min-width: 150px;

    h3 {
      font-weight: normal;
    }

    .sub {
      font-size: 0.8em;
      color: gray;
    }

    img,
    svg {
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      aspect-ratio: 1 / 1;
    }
  }

  @media screen and (min-width: 650px) {
    .resume-item {
      width: 300px;
    }
  }
</style>
