---
import { getCollection } from "astro:content";
import ResumeItem from "./ResumeItem.astro";
import Button from "./Button.astro";

const workEntries = (await getCollection("work")).sort(
  (a, b) => b.data.start.getTime() - a.data.start.getTime()
);

const educationEntries = (await getCollection("education")).sort(
  (a, b) => b.data.start.getTime() - a.data.start.getTime()
);

const volunteeringEntries = (await getCollection("volunteering")).sort(
  (a, b) => b.data.start.getTime() - a.data.start.getTime()
);

const cvFileId = "1NuFXxP13Km_FtHhKpqM0V5rK45q0zlyOANnKSIu2Qx4";
const cvFileFormat = "pdf";
---

<section id="resume">
  <h1>Hunor Márton Borbély</h1>
  <section>
    <h2>Experience</h2>
    <div class="grid">
      {workEntries.map((item) => <ResumeItem entry={item} full={true} />)}
    </div>
  </section>

  <section>
    <h2>Volunteering</h2>
    <div class="grid">
      {
        volunteeringEntries.map((item) => (
          <ResumeItem entry={item} full={true} />
        ))
      }
    </div>
  </section>

  <section>
    <h2>Education</h2>
    <div class="grid">
      {educationEntries.map((item) => <ResumeItem entry={item} full={true} />)}
    </div>
  </section>

  <div class="after">
    <Button
      href={`https://docs.google.com/presentation/d/${cvFileId}/export/${cvFileFormat}`}
      primary
    >
      Download CV
    </Button>
  </div>
</section>

<style>
  #resume {
    display: flex;
    flex-direction: column;
  }

  #resume section {
    display: inline-block;
    vertical-align: top;

    h2 {
      text-transform: uppercase;
    }
  }

  .grid {
    display: flex;
    gap: 100px 80px;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
  }

  .after {
    margin: 40px 0;
  }
</style>
