---
import { type CollectionEntry } from "astro:content";
import TableOfContents from "./TableOfContents.astro";
import Tags from "./Tags.astro";

interface Props {
  entry: CollectionEntry<"blog">;
  frontmatter: Record<string, any>;
}

const { entry, frontmatter } = Astro.props;
const dateISO = entry.data.date.toISOString();
const dateHuman = entry.data.date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<section>
  <header>
    <h1>{entry.data.title}</h1>
    <Tags tags={entry.data.tags} />
    <p>
      Hunor Márton Borbély on <time datetime={dateISO}>{dateHuman}</time>
    </p>
  </header>

  <main id="introduction">
    <slot />
  </main>
  <TableOfContents chapters={frontmatter.tableOfContents} />
</section>

<style>
  body {
    scroll-behavior: smooth;
  }

  section {
    display: grid;
    grid-template-columns: var(--main-width) var(--aside-width);
    column-gap: var(--layout-gap);
    justify-content: center;
    position: relative;
    font-family: "Figtree Variable", sans-serif;
  }

  header {
    padding-bottom: 50px;
  }

  main {
    grid-column: 1;
  }

  p {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 2em;
  }
</style>

<style is:global>
  p,
  li,
  table {
    font-family: "Source Sans 3 Variable", sans-serif;
    max-width: var(--main-width);
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    margin-top: 2.5em;
  }

  h3 {
    margin-top: 2em;
  }

  a {
    text-underline-offset: 2px;
  }

  code {
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid rgb(211, 211, 211, 1);
    background-color: rgb(211, 211, 211, 0.1);
  }

  .expressive-code {
    padding: 15px 0;
  }

  pre code {
    background-color: inherit;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid rgb(211, 211, 211, 1);
      padding: 8px;
    }
  }

  main {
    scroll-margin-top: calc(var(--header-height) + 60px);
  }

  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6 {
    scroll-margin-top: calc(var(--header-height) + 60px);
    margin-top: 60px;
  }
</style>
