---
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";

interface Props {
  title: string;
  description?: string;
  article?: {
    published_time: Date;
  };
}

const {
  title,
  description = "Hunor Márton Borbély, Software Engineer, Freelancer in Berlin.",
  article,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const isProd = import.meta.env.PROD;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Hunor Márton Borbély",
      "url": "https://hunormarton.com/"
    }
  </script>

  {
    article ? (
      <meta property="og:type" content="article" />
      <meta property="article:author" content="Hunor Márton Borbély" />
      <meta
        property="article:published_time"
        content={article.published_time.toISOString()}
      />
    ) : (
      <meta property="og:type" content="website" />
    )
  }

  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content={title} />
  <meta name="twitter:title" content={title} />
  <meta name="description" content={description} />
  <meta property="og:description" content={description} />
  <meta name="twitter:description" content={description} />
  <meta property="og:site_name" content="SVG Tutorial" />
  <link rel="canonical" href={canonicalURL} />
  <meta name="twitter:site" content="@HunorBorbely" />
  <meta name="twitter:creator" content="@HunorBorbely" />

  <meta
    property="og:image"
    content="https://hunormarton.com/image1200x630.png"
  />
  <meta
    name="twitter:image"
    content="https://hunormarton.com/image1600x900.png"
  />
  <meta property="og:url" content="https://hunormarton.com/" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171674382-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(action: string, eventName: any) {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-171674382-1");
  </script>

  {
    isProd && (
      <script
        defer
        src="https://analytics.eu.umami.is/script.js"
        data-website-id="f0174326-b261-4c1e-959b-1579f05b28eb"
      />
    )
  }
  <Analytics />

  <ClientRouter />
</head>

<style is:global>
  body {
    margin: 0;
  }

  html,
  body {
    min-height: 100%;
  }

  a,
  button {
    color: #0070f3;
    text-decoration: none;
    text-underline-offset: 4px;
  }

  a.primary,
  button {
    border: 1px solid #0070f3;
    display: inline-block;
    padding: 12px 20px;
    background-color: transparent;
    cursor: pointer;
  }

  a:not(.primary):hover {
    text-decoration: underline;
  }
</style>
